@import (reference) "../../style/bootstrap/variables.less";
@import (reference) "../../style/bootstrap/mixins.less";

@form-panel-bg: @state-info-bg;
@form-panel-text: @alert-info-text;

.control {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.control-on-drag-spacer {
  border-color: #0055ff;
  border-style: dashed;
  border-width: 1px;
}

.widget-panel {
  background-color: @form-panel-bg;
  color: @form-panel-text;
}

.properties-panel {
  background-color: @form-panel-bg;
  color: @form-panel-text;
}

.main-panel {
  background-color: @form-panel-bg;
  color: @form-panel-text;
}